body{
	width: 100%;
	height: 100%;
	background: linear-gradient(270deg, #c1ad91, #246655, #c1702e, #d22cc4);
	background-size: 800% 800%;
	-webkit-animation: AnimationName 30s ease infinite;
	-moz-animation: AnimationName 30s ease infinite;
	animation: AnimationName 30s ease infinite;
}
.movingcat{
	background-image: url("IMG_4059.JPG");
	background-size: cover;
	width: 100px;
	height: 100px;
	left: 0px; top: 0px;
	position: relative;
	border: 2px solid black;
	animation-name: move_around;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}
@keyframes move_around {
	0%{left: 0px; top: 0px;}
	10%{left: 200px; top: 0px;}
	20%{left:250px; top: 300px;}
	30%{left: 400px; top: 400px;}
	60%{left: 100px; top: 400px;}
	80%{left: 600px; top: 350px;}
	100%{left: 0px; top: 0px;}
}
 @-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}