table{
	border: 2px solid black;
	border-collapse: collapse;
}
td{
	border: 2px solid black;
	height: 20px;

}
th{
	border: 2px solid black;
	width: 200px;
}
tr:nth-child(even){
	background-color: #eee;
}
tr:nth-child(odd){
	background-color: #fff;
}